.settings-selector {
    -fx-background-color: #858585;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-color: #9f9f9f;
    -fx-border-width: 4px;
    -fx-padding: 10px;
    -fx-font-size: 24px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
    -fx-opacity: 0.95;
    -fx-cursor: hand;
}

.settings-selector:hover {
    -fx-background-color: #858585;
    -fx-border-color: #b8b8b8;
}

.settings-selector:pressed {
    -fx-background-color: #8f8f8f;
    -fx-border-color: #b9b9b9;
}