.settings-language-label {
    -fx-background-color: #808080;
    -fx-text-fill: #e3e3e3;
    -fx-background-radius: 10px;
    -fx-border-color: #a1a1a1;
    -fx-border-width: 3px;
    -fx-padding: 10px;
    -fx-font-size: 16px;
    -fx-text-alignment: center;
}